@font-face {
  font-family: "Ubuntu light";
  src: url("font-face/3972.ttf");
  font-family: "PlayfairDisplay";
  src: url("font-face/PlayfairDisplay-Regular.otf");
}
html {
  box-sizing: border-box;
}
body {
  font-family: PlayfairDisplay;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
}
header {
  padding-top: 80px;
  padding-bottom: 100px;
}
.nav-menu {
  list-style: none;
  text-align: center;
  font-size: 0px;
}

.nav-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #626262; /* Цвет обычной ссылки */
}
.nav-menu a:hover {
  color: #03a9f4; /* Цвет ссылки при наведении на нее курсора мыши */
}
.nav-menu li {
  display: inline-block;
  margin-right: 60px;
  font-size: 14px;
}
.nav-menu li:not(:last-child) {
  margin-right: 60px;
}
.blog-item {
  display: inline-block;
  width: 420px;
  margin-right: 30px;
  margin-bottom: 100px;
}
.blog-item:nth-child(2n) {
  margin-right: 0;
}
.blog-title {
  font-size: 30px;
  color: #626262;
  font-weight: normal;
  margin: 30px 0px 0px 0px;
}
.blog-category {
  font-family: Ubuntu light;
  text-transform: uppercase;
  font-size: 14px;
  color: #b4ad9e;
  margin: 30px 0px 0px 0px;
}
.blog-text {
  font-size: 14px;
  color: #626262;
  line-height: 24px;
}
.main-section {
  font-size: 0;
  padding-bottom: 75px;
}
.button {
  font-size: 20px;
  color: #626262; /* Цвет обычной ссылки */
  border: 1px solid #626262;
  background: #ffffff;
  padding: 15px 30px;
  margin: 25px auto 0px;
  display: block;
}
.button:hover {
  color: #03a9f4; /* Цвет кнопки при наведении на нее курсора мыши */
}
