    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
    }
    
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
    /* header */
    
    .head {
        display: flex;
        align-items: center;
        padding-bottom: 110px;
    }
    
    .logo {
        padding-right: 620px;
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 30px;
        color: #95e1d3;
        outline: none;
    }
    
    .logo:hover,
    .logo:focus {
        color: #f38181;
        transition: linear 200ms;
    }
    
    .nav-menu {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-between;
        min-width: 494px;
    }
    
    .menu-list {
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;
        color: #95e1d3;
        outline: none;
    }
    
    .menu-list:hover,
    .menu-list:focus {
        color: #f38181;
        border-bottom: 3px solid #f38181;
        padding-bottom: 6px;
        transition: linear 200ms;
    }
    /* service */
    
    .title {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .title-item {
        margin: 0;
        font-family: 'Kaushan Script';
        font-size: 24px;
        padding-bottom: 8px;
    }
    
    .main-title {
        margin: 0;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        color: #333333;
    }
    
    .main-title::after {
        content: '';
        height: 3px;
        width: 60px;
        background-color: #f38181;
        margin: 0 auto;
        display: block;
        margin-top: 34px;
        margin-bottom: 65px;
    }
    /* service-article */
    
    .content-section {
        display: flex;
        flex-wrap: wrap;
    }
    
    .content {
        display: flex;
        max-width: 33%;
        padding-bottom: 98px;
    }
    
    .content:nth-last-child(-n + 4) {
        padding-bottom: 86px;
    }
    
    .content-image {
        width: auto;
        height: 32px;
        margin: 0 30px;
    }
    
    .content-title {
        margin: 0;
        padding-bottom: 12px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: #333333;
    }
    
    .content-text {
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 15px;
        color: #999999;
    }