$white: #ffff;
$links-hover-color: #fce38a;
$sociables-border-right-color:#f9bd87;
$title-text-color:#333333;
$subtitle-text-color:#999999;
$input-text-color: #cccccc;
$input-text-border-color: #e7e7e7;
$footer-wrapper-border-color: #e5e5e5;
$input-submit-background-color:#95e1d3;
$primary-color: #f38181;
$primary-font: 'Montserrat';
$secondary-font: 'Roboto';
$font-title: 'Kaushan Script';